<!DOCTYPE html>
<html>
  <head>
    <title>Sectors</title>
  </head>
  <body>
    <head>
      <nav class="breadcrumbs">
        <a href="/">Home</a>
      </nav>
      <h1>Sectors</h1>
    </head>

    <main>
      {% set vocabularies = sectors.unique(['vocabulary_name', 'vocabulary_code']).cache() | sort(attribute='vocabulary_code') %}

      <section>
        <h2>Sector vocabularies</h2>
        <ul>
          {% for vocabulary in vocabularies %}
          <li>
            {{ vocabulary.vocabulary_code }}. <a href="#{{ vocabulary.vocabulary_code }}">{{ vocabulary.vocabulary_name }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>

      {% for vocabulary in vocabularies %}
      <section id="{{ vocabulary.vocabulary_code }}">
        <h2>{{ vocabulary.vocabulary_code }}. {{ vocabulary.vocabulary_name }}</h2>
        
        <ul>
          {% for sector in sectors.has('vocabulary_code', vocabulary.vocabulary_code) | sort (attribute='code') %}
          {% if sector.name %}
          <li>{% include "includes/sector.html" %}</li>
          {% endif %}
          {% endfor %}
        </ul>

      </section>
      {% endfor %}

    </main>
    
  </body>
</html>
