<!DOCTYPE html>
<html>
  <head>
    <title>Organisation: {{ org.name }}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/orgs/">Organisations</a>
      </nav>
      <h1>Organisation: {{ org.name }}</h1>
    </header>

    <p>
      IATI id:
      {{ org.id }}
    </p>

    <p>
      Aliases:
    </p>

    <ul>
      {% for alias in org.aliases | sort %}
      {% if alias != org.name %}
      <li>{{ alias }}</li>
      {% endif %}
      {% endfor %}
    </ul>

    <p>
      Types:
    </p>

    <ul>
      {% for type in org.types | sort %}
      <li>{{ type }}</li>
      {% endfor %}
    </ul>
    
    <p>
      Roles:
    </p>

    <ul>
      {% for role in org.roles | sort %}
      <li>{{ role }}</li>
      {% endfor %}
    </ul>

    <p>
      Sectors
    </p>

    <ul>
      {% for sector in org.sectors %}
      <li><a href="/sectors/{{ sector.sector_type_code }}/{{ sector.sector_code }}/">{{ sector.sector_name }}</a></li>
      {% endfor %}
    </ul>

    <section id="partners">
      <h2>Partners</h2>

      {% for org_role in org.partners.unique('org_role') | sort %}
      <section>
        <h3>{{ org_role }}</h3>
        <ul>
          {% for partner in org.partners.has('org_role', org_role) %}
          {% with org=partner %}
          <li>{% include "includes/org.html" %}</li>
          {% endwith %}
          {% endfor %}
        </ul>
      </section>
      {% endfor %}

    </section>

    <section id="relationships">
      <h2>Direct funding relationships</h2>

      <section id="providers">
        <h3>Funding providers</h3>
        {% if org.providers %}
        <ul>
          {% for relationship in org.providers %}
          <li><a href="/orgs/{{ relationship.provider_org_id }}/">{{ relationship.provider_org_name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <p><i>None known</i></p>
        {% endif %}
      </section>
      
      <section id="recipients">
        <h3>Funding recipients</h3>
        {% if org.recipients %}
        <ul>
          {% for relationship in org.recipients %}
          <li><a href="/orgs/{{ relationship.provider_org_id }}/">{{ relationship.provider_org_name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <p><i>None known</i></p>
        {% endif %}
      </section>
      
    </section>
  </body>
</html>
